<%- include("includes/head.ejs"); %>

    <body>
        <div class="center">
            <h3>EJS home page</h3>
            <h2>EJS Home page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, quaerat.</p>
            <button>Button</button>
        </div>

    </body>